# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
**/.terraform/*
**/terraform.tfstate*
**/crash.log
**/override.tf*
**/*.tfvars*

# Certs / secrets
**/letsencrypt/
**/acme.json
**/env/**
